/* Mission.css */
.mission-container {
    display: flex;
    background-color: pink;
    height: 100%;
    width: 100%;
    align-items: center; /* Vertically align items */
  }
  
  /* Mission.css */
.text-container {
  max-width: 40%; /* Adjust as needed */
  max-height: 50%;
  text-align: left;
  padding: 30px;
  border-radius: 20px; /* Apply border-radius to create curved corners */
  background-color: #f0f0f0; /* Set the background color to grey */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect for depth */
  display: inline-block; /* Make the container fit snugly around the text */
  flex:1;
  margin: 0 40px;
}

  
  .image-container {
    flex: 1; /* Take up remaining space */
    text-align: right; /* Align image to the right */
  }
  
  .full-image {
    max-width: 100%;
    height: auto;
  }
  