.App{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: pink;
}
.appHeader{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 2px 2px #00000033;
}
.soppingCartIcon{
    font-size: 30px;
    margin-right: 16px;
    cursor: pointer;
}
.productsContainer{
    padding: 8px;
}
.appMenu {
    border: none;
    margin: 0 px; /* Adjust margin to increase horizontal space */
    min-width: 420px; /* Set a minimum width to accommodate menu items */
  }
.pageContent{
    display: flex;
    flex: 1;
    overflow-y: auto;
    margin-top: 2px;
}
.appFooter{
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.itemCard, .itemCardBadge{
    margin: 8px;
}
.itemCardImage{
    height: 150px !important;
    object-fit: scale-down;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center; 
    position: sticky;
    top: 0;
    cursor: pointer; 
}
